<% index_galeria = 2 %>
<section class="plantas">
    <div class="container">
        <h1 class="tit">Plantas</h1>

        <div class="tab" data-tab="plantas">

            <div class="tab-buttons">
    
                <% galerias[index_galeria].itens.forEach(function(item, i){ %> 
                    <button class="tab-btn" data-tab-index="<%= i %>"><%= galerias[index_galeria].legendas[i] %></button>
                <% }) %> 
    
            </div>
        
            <div class="tab-content">
            
                <% 
                galerias[index_galeria].itens.forEach(function(image, i){
                    src = galerias[index_galeria].path + 'thumbs/' + image.file;
                    src_mob = galerias[index_galeria].path + 'thumbs/mob/' + image.file;
                    src_ampliada = galerias[index_galeria].path + image.file;
                %>
                
                <button class="tab-btn" data-tab-index="<%= i %>"><%= galerias[index_galeria].legendas[i] %> <i class="icon-down"></i></button>

                <div class="tab-item" data-tab-index="<%= i %>">
                    <div class="plantas-item">

                        <figure>
                            <a href="<%=src_ampliada%>" class="js-zoom" data-zoom-size="<%=image.w%>x<%=image.h%>" data-zoom-index="<%=i%>" data-zoom-group="galeria_<%=index_galeria%>">
                                <picture>
                                    <source media="(max-width: 640px)" class="lazy" data-srcset="<%=src_mob%>">
                                    <img class="lazy" data-src="<%=src%>" alt="<%=galerias[index_galeria].legendas[i]%>">
                                </picture>
                                <% if(galerias[index_galeria].icones) {%>
                                <div class="icon-<%=galerias[index_galeria].icones[i]%>"></div>
                                <% } %>
                            </a>                   
                            <figcaption><%=galerias[index_galeria].legendas[i]%></figcaption>
                        </figure>

                        <div class="plantas-infos">
                            <%=galerias[index_galeria].legendas[i]%>
                        </div>
                        
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</section>