<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=description%>">
    <title><%=title%></title>
    <link rel="shortcut icon" href="images/favicon.svg">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <% if (GA != '') { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GA %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= GA %>');
    </script>
    <% } %>

    <% if (facebook != '') { %>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '<%= facebook %>');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=<%= facebook %>&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <% } %>
</head>
<body>

    <% include components/header %>
    
    <main>

        <a href="">
            <span>Aguarde</span>
            <i></i>
        </a>

        <% include components/intro %>
        <% include components/destaques %>
        <% include components/sobre %>
        <% include components/lazer %>
        <% include components/localizacao %>      
        <% include components/contato %>
        <% include components/realizacao %>
        
    </main>

    <% include components/conversao %>
    <% include components/modal_email %>
    <% include components/modal_chat %>
    <% include components/modal_whatsapp %>
    <% include components/footer %>
   
    <script src="js/main.js"></script>
    <script src="https://script.hubid360.com.br/js?id=<%=hubid%>" async></script>
</body>
</html>